@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src:  url('~./fonts/woff/IRANSansWeb.woff') format('woff');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src:  url('~./fonts/woff/IRANSansWeb_Medium.woff') format('woff');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url('~./fonts/woff/IRANSansWeb_Bold.woff') format('woff');
}

body {
    font-family: IRANSans, sans-serif !important;
}
